
@{
    ViewData["Title"] = "Add";
}
@model Product
<h1>Ürün Ekleme</h1>


<form asp-controller="Products" asp-action="Add" method="post">

    <div class="mb-3">
        <label for="Name" class="form-label">Ürün İsmi</label>
        <input class="form-control" asp-for="Name">
       
    </div>

    <div class="mb-3">
        <label for="Name" class="form-label">Ürün Fiyatı</label>
        <input class="form-control" asp-for="Price">

    </div>

    <div class="mb-3">
        <label for="Name" class="form-label">Ürün Stoğu</label>
        <input type="text" class="form-control" asp-for="Stock">

    </div>

    <div class="mb-3">
        <label for="Name" class="form-label">Ürün Rengi</label>
        <input class="form-control" asp-for="Color">

    </div>

    <div class="form-check">
        <input class="form-check-input" asp-for="isPublish">
        <label class="form-check-label" for="flexCheckDefault">
            Yayınla
        </label>

        @foreach (var item in @ViewBag.Expire as List<string>)
        {
            <div class="form-check"  >
                <input class="form-check-input" asp-for="Expire" value="@item">
                <label class="form-check-label" for="flexRadioDefault1">
                    @item
                </label>
            </div>
        }
    </div>

    
    <button type="button" class="btn btn-primary">Ürün Kaydet</button>


  
</form>

